/* Sidebar */
.sidebar {
  width: 280px;
  height: 100vh;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  visibility: visible;
  position: relative;
}

.sidebar.closed {
  width: 0;
  visibility: hidden; /* La sidebar diventa invisibile quando chiusa */
  padding: 0;
  margin: 0;
  position: absolute;
}

/* Contenuto principale */
.content {
  transition: margin-left 0.3s ease-in-out;
}

/* Colorazione corretta dei bottoni attivi */
.nav-link.active {
  background-color: #0d6efd !important;
  color: white !important;
}
