<div class="container mt-5">
  <h2>Aggiungi Transazione</h2>
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmitTransaction()">
    <div class="mb-3">
      <label for="transactionImport" class="form-label">Importo</label>
      <input type="number" class="form-control" formControlName="transactionImport">
    </div>

    <div class="mb-3">
      <label for="transactionDate" class="form-label">Data</label>
      <input type="date" class="form-control" formControlName="transactionDate">
    </div>

    <div class="mb-3">
      <label for="webSite" class="form-label">Sito</label>
      <input type="text" class="form-control" formControlName="webSite">
    </div>

    <!-- Selettore Entrata/Uscita -->
    <div class="mb-3">
      <label for="transactionType" class="form-label">Tipo di Transazione</label>
      <select class="form-control" formControlName="transactionType" (change)="onTransactionTypeChange($event)">
        <option value="">Seleziona...</option>
        <option value="POSITIVE">Entrata</option>
        <option value="NEGATIVE">Uscita</option>
      </select>
    </div>

    <!-- Selettore Categoria -->
    <div class="mb-3">
      <label for="categoryType" class="form-label">Categoria</label>
      <select class="form-control" formControlName="categoryType">
        <option *ngFor="let category of categories" [value]="category.categoryName">
          {{ category.categoryName }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="transactionForm.invalid">Aggiungi</button>
  </form>
</div>