<div class="container-xl px-4 mt-4">
  <!-- Aggiunto il container coerente -->
  <h2>Storico Movimenti</h2>
  <!-- Titolo corretto -->
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th>Importo</th>
                  <th>Data</th>
                  <th>Sito Web</th>
                  <th>Categoria</th>
                  <th>Azioni</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transaction of transactions">
                  <td>
                    {{ transaction.transactionImport | currency : "EUR" }}
                  </td>
                  <td>{{ transaction.transactionDate }}</td>
                  <td>{{ transaction.webSite }}</td>
                  <td>{{ transaction.categoryType }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm px-3"
                      (click)="deleteTransaction(transaction.id)"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
