<div *ngIf="isLoading" class="text-center mt-4">Caricamento...</div>

<div *ngIf="!isLoading && user">
  <div class="container-xl px-4 mt-4">
    <!-- Intestazione della pagina del profilo -->
    <h2>Profilo Utente</h2>
    <hr class="mt-0 mb-4" />

    <!-- Form di aggiornamento profilo -->
    <form (ngSubmit)="updateProfile()">
      <div class="row justify-content-center">
        <!-- Colonna per la foto profilo -->
        <div class="col-12 col-md-4 text-center">
          <div class="p-3 border rounded shadow-sm bg-light">
            <h6 class="fw-bold">Immagine Profilo</h6>
            <img
              class="img-thumbnail rounded-circle mt-2"
              src="https://github.com/mdo.png"
              alt="Immagine Profilo"
              width="120"
            />
          </div>
        </div>

        <!-- Colonna per i dettagli del profilo -->
        <div class="col-12 col-md-6 mt-4 mt-md-0">
          <div class="p-3 border rounded shadow-sm bg-light">
            <h6 class="fw-bold">Dettagli Account</h6>

            <!-- Form di aggiornamento -->
            <div class="mb-2">
              <label class="small" for="username">Username</label>
              <input
                class="form-control form-control-sm"
                id="username"
                type="text"
                [(ngModel)]="user.username"
                name="username"
                placeholder="Inserisci il tuo username"
              />
            </div>

            <div class="mb-2">
              <label class="small" for="name">Nome</label>
              <input
                class="form-control form-control-sm"
                id="name"
                type="text"
                [(ngModel)]="user.name"
                name="name"
                placeholder="Inserisci il tuo nome"
              />
            </div>

            <div class="mb-2">
              <label class="small" for="lastName">Cognome</label>
              <input
                class="form-control form-control-sm"
                id="lastName"
                type="text"
                [(ngModel)]="user.lastName"
                name="lastName"
                placeholder="Inserisci il tuo cognome"
              />
            </div>

            <div class="mb-2">
              <label class="small" for="email">Email</label>
              <input
                class="form-control form-control-sm"
                id="email"
                type="email"
                [(ngModel)]="user.email"
                name="email"
                placeholder="Inserisci la tua email"
              />
            </div>

            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary btn-sm">
                Aggiorna Profilo
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
